<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <div class="loader" ng-show="admin.loading.list || admin.loading.delete"></div>
  <div ng-hide="admin.errors.delete" ng-bind="admin.errors.delete"></div>
  <div ng-hide="admin.loading.list">
    <ul class="list-group user-list">
      <li class="list-group-item" ng-repeat="user in admin.users">
  	    <div class="user-info">
  	        <strong>{{user.name}}</strong><br>
  	        <span class="text-muted">{{user.email}}</span>
  	    </div>
          <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
      </li>
    </ul>
    <div class="alert alert-warning text-center" ng-show="admin.users.length === 0">
      No users found!
    </div>
    <div class="alert alert-danger text-center" ng-show="admin.errors.list">
      <p ng-bind="admin.errors.list"></p>
      <a href="" ng-click="admin.getUsersList()"> Retry </a>
    </div>
  </div>
</div>
