<div class="container">
  <div class="text-right">
    <a ui-sref="stores.create" class="btn btn-primary"> <i class="glyphicon glyphicon-plus"></i> New Store </a>
  </div>
  <div class="alert alert-danger" ng-if="$ctrl.errors.delete" ng-bind="$ctrl.errors.delete"></div>
  <div class="loader" ng-show="$ctrl.loading.list || $ctrl.loading.delete"></div>
  <table class="table table-border table-striped" ng-hide="$ctrl.loading.list || $ctrl.loading.delete">
    <thead>
      <tr>
        <th> Name </th>
        <th> Address </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3" class="text-center" ng-if="$ctrl.stores.length === 0"> No data found </td>
        <td colspan="3" class="text-center text-danger" ng-if="$ctrl.errors.list" ng-bind="$ctrl.errors.list"></td>
      </tr>
      <tr ng-repeat="store in $ctrl.stores">
        <td ng-bind="store.name"></td>
        <td ng-bind="store.address"></td>
        <td class="text-right">
          <a ui-sref="stores.edit({ id: store._id })" class="btn btn-mini btn-default">
            <i class="glyphicon glyphicon-edit"> </i>
          </a>
          <button type="button" ng-click="$ctrl.delete(store)" class="btn btn-mini btn-danger">
            <i class="glyphicon glyphicon-trash"> </i>
          </button>
        </td>
      <tr>
    </tbody>
  </table>
</div>
