<header class="hero-unit" id="banner">
  <div class="container">
    <h1> Stores Webapp </h1>
    <p class="lead"> This is a demo app </p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">Features:</h1>
      <div class="loader" ng-show="$ctrl.loading.list"></div>
      <div ng-hide="$ctrl.loading.list">
        <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
          <li><a ui-sref="{{thing.link}}" uib-tooltip="{{thing.info}}">{{thing.name}}</a></li>
        </ul>
        <div class="alert alert-warning text-center" ng-show="$ctrl.awesomeThings.length === 0">
          No features found!
        </div>
        <div class="alert alert-danger text-center" ng-show="$ctrl.errors.list">
          <p ng-bind="$ctrl.errors.list"></p>
          <a href="" ng-click="$ctrl.getFeaturesList()"> Retry </a>
        </div>
      </div>
    </div>
  </div>
</div>
