<header class="hero-unit" id="banner">
  <div class="container">
    <img src="assets/images/cake.png" alt=" " class="animated rubberBand">
    <h1> Coffee Slices </h1>
    <p class="lead"> "Have a bite of cake and a sip of coffee." </p>
  </div>
</header>

<div class="container">
  <div class="row content">
    <div class="col-xs-12 col-sm-4 col-sm-push-8">
      <div class="loader" ng-show="$ctrl.loading.list"></div>
      <div ng-hide="$ctrl.loading.list">
        <ul class="nav nav-tabs nav-stacked col-xs-12" ng-repeat="thing in $ctrl.awesomeThings">
          <li><a ui-sref="{{thing.link}}" uib-tooltip="{{thing.info}}">{{thing.name}}</a></li>
        </ul>
        <div class="alert alert-warning text-center" ng-show="$ctrl.awesomeThings.length === 0">
          No features found!
        </div>
        <div class="alert alert-danger text-center" ng-show="$ctrl.errors.list">
          <p ng-bind="$ctrl.errors.list"></p>
          <a href="" ng-click="$ctrl.getFeaturesList()"> Retry </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-pull-4">
      <div class="well clearfix animated zoomIn" ng-repeat="i in $ctrl.generateArray(5) track by $index">
        <img src="http://lorempixel.com/300/200/food/{{$index}}" class="pull-left"/>
        <p style="text-align: justify" ng-bind="$ctrl.loremipsum[$index]"></p>
      </div>
    </div>
  </div>
</div>
